#root, body {
  margin: 0 auto;
  text-align: center;
  
}

#navigation-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0;
  background-color: rgb(236, 236, 236);
}

li {
  margin: 5px;
}